{
    "timeout": 20,
    "source": {
        "directories": [
            "PHPStan",
            "src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true,
        "CastArray": {
            "ignore": [
                "SignpostMarv\\DaftObject\\TraitSortableDaftObject::DaftSortableObjectProperties"
            ]
        },
        "FalseValue": {
            "ignore": [
                "SignpostMarv\\DaftObject\\TypeUtilities::HasMethod"
            ]
        },
        "Foreach_": {
            "ignore": [
                "SignpostMarv\\DaftObject\\DaftObjectIdValuesHashLazyInt::DaftObjectIdHash",
                "SignpostMarv\\DaftObject\\TypeUtilities::CachePublicGettersAndSettersProperties"
            ]
        },
        "Identical": {
            "ignore": [
                "SignpostMarv\\DaftObject\\TypeUtilities::HasMethod"
            ]
        },
        "LogicalAnd": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::__isset",
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::NudgePropertyValue",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::MaybeRemapStringsToTrimmedStrings",
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly",
                "SignpostMarv\\DaftObject\\TypeUtilities::HasMethod"
            ]
        },
        "LogicalNot": {
            "ignore": [
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly"
            ]
        },
        "LogicalOr": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::DaftObjectWormPropertyWritten"
            ]
        },
        "MethodCallRemoval": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObject::__unset",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::MaybeRegisterAdditionalTypes",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::ObtainExpectedProperties",
                "SignpostMarv\\DaftObject\\PHPStan\\ClassReflectionExtension::MaybeRegisterTypesOrExitEarly",
                "SignpostMarv\\DaftObject\\TypeUtilities::CachePublicGettersAndSetters"
            ]
        },
        "NotIdentical": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractArrayBackedDaftObject::NudgePropertyValue",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::MaybeRegisterAdditionalTypes"
            ]
        },
        "ProtectedVisibility": {
            "ignore": [
                "SignpostMarv\\DaftObject\\AbstractDaftObject::MaybeThrowOnDoGetSet",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::MaybeRegisterAdditionalTypes",
                "SignpostMarv\\DaftObject\\DefinitionAssistant::RegisterDaftObjectTypeFromTypeAndProps"
            ]
        }
    }
}
