includes:
    - ./phpstan.neon

parameters:
    ignoreErrors:
        - "/^Method SignpostMarv\\\\DaftObject\\\\Tests\\\\DefinesOwnIdPropertiesInterface\\\\Fixtures\\\\DefinesOwn(Array|Scalar|Int)IdProperties/"
